
<!DOCTYPE html>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Instagramsへようこそ</h1>
    <h2>友達と写真や動画を共有しよう！</h2>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>  
    <p>または</p>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    <p class='for-login'>※ログインして使用してください</p>
  </div>
<% end %>
