<% provide(:title, "Search") %>

<%= form_for(:search, url:search_path) do |f| %>
  <%= f.text_field :content %>
  
  <%= f.submit "検索", class: "btn btn-primary" %>
<% end %>  
<ol class = "microposts">
  <%= render @microposts if @microposts%>
</ol>
