<% provide(:title, "Terms") %>

<h1>利用規約</h1>
<h2>Instagramsへようこそ！</h2>

<h2>この利用規約は、Instagramsをご利用いただく際に適用されるものであり、Instagramsサービスに関する情報を提供するものです。Instagramsアカウントを作成する場合、またはInstagramをご利用になる場合は、本規約に同意していただくことになります。</h2>

