<% provide(:title, "Log in") %>
<h1>ログイン</h1>
<p class='for-login'>( ※ログイン用　メール: ruby@rails.com   パスワード: example )</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メール" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= link_to("パスワードを再設定", new_password_reset_path) %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン情報を端末に保存する</span>
      <% end %>
      
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "登録がお済みでない方はこちら", signup_path %></p>
  </div>
</div>