<% provide(:title, 'Edit Profile') %>
<h1>ユーザー情報の編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :username, "ユーザーネーム" %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email, "メール" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :url, "ウェブサイト" %>
      <%= f.text_field :url %>
      
      <%= f.label :introduce, "自己紹介" %>
      <%= f.text_area :introduce %>

      <%= f.submit "プロフィールを変更する", class: "btn btn-primary" %>
    <% end %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">画像を変更する</a>
    </div>
    
    <div class='destroy'>
    <% if current_user?(@user) %>
      <%= link_to "アカウントを削除する", @user, method: :delete,
                                    data: { confirm: "本当に削除してよろしいですか?" } %>
    <% end %>
    </div>
  </div>
</div>