<% provide(:title, @user.username) %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_in'>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="introduce">
        <h1>自己紹介</h1>
        <%= @user.introduce %>
    </section>
    <section class="url">
        <h1>ウェブサイト</h1>
        <%= link_to "#{@user.url}", "#{@user.url}" %>
    </section>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
