<li id="micropost-<%= micropost.id %>">
  
  <div class="picture">
    <div>
      <%= link_to image_tag(micropost.picture.url), micropost_path(micropost) %>
    </div>
    <%= render "likes/like", micropost: micropost %>
    
  </div>
</li>