<div>
  <aside class="col-md-4">
    <div>
      <div class='size'>
        <%=  image_tag(@micropost.picture.url)  %>
      </div>
      <li>
        投稿者：<%= link_to "#{@user.username}", @user %> 　<br>
        説明<br><%= @micropost.content %>
      </li>  
      <% if current_user?(@micropost.user) %>
        <%= link_to "写真を削除", @micropost, method: :delete, data: { confirm: "この投稿を削除しますか？" } %>
      <% end %>
      <div class='commentbox'>
        <%= form_for(@comment) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= hidden_field_tag :micropost_id, @micropost.id.to_i %>
        </div>
        <div class = 'comment_field'> 
          <%= f.text_area :content, placeholder: "コメントしてみよう！" %> 
        </div>
        <div class = 'comment_button'>
          <%= f.submit "コメントする", class: "btn btn-primary" %> 
        </div>
        <% end %>
      </div>
  </aside> 
  <div class='userscomment'>
    <h3>みんなのコメント</h3>
    <ul class="users">
      <% @comments.each do |comment| %>
      <% @user = User.find_by(id: comment.user_id) %>
      <li>
        <%= link_to "#{@user.name}", @user %> ：
        <%= comment.content %>
        <% if comment.user_id == current_user.id %>
    　　    <%= link_to '削除', comment, method: :delete,
                                    data: { confirm: "本当に削除してよろしいですか?" } %>
  　　    <% end %>
      </li>  
      <% end %>
      </ul>
  </div>
</div>
</div>