@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 90px;
}

li {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-image: url("top.jpg");
  padding: 0 0 300px 0;
  margin-bottom: 10px;
  p {
    margin: 5px 0;
  }
  h2 {
    margin-bottom: 20px;
  }
}

#logo {
  float: left;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  padding-top: 5px;
}

#logo:hover {
  color: gray;
  text-decoration: none;
}

.btn {
  margin: 20px, 0, 20px, 0;
}

footer {
  text-align: right;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input input, {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.destroy {
  margin-top: 100px;
  font-size: 18px;
}

.microposts {
  list-style: none;
}
 
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.picture {
  float:left ;
  padding: 20px 10px;
  border: 0;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.size {
  width: 250px;
  height: 250px;
}

.commentbox {
  margin-top: 30px;
}

.userscomment {
  margin-left: 250px;
  padding-left: 200px;
}

.trash {
  float: left;
  font-weight: bold;
}

.icons li {
　display: inline-block;
  float: left;
}

.for-login {
  font-size: 20px;
  margin-bottom: 30px;
  color: red;
}