<header class="navbar navbar-fixed-top navbar-inverse ">
  <div class="container">
    <%= link_to "Instagrams", root_path, id: "logo" %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "ホーム", root_path %></li>
      <% if logged_in? %>
          <li><%= link_to "ユーザー", users_path %></li>
          <li><%= link_to "検索", search_path%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
          
          <ul class="dropdown-menu">
            <li><%= link_to "プロフィール", current_user %></li>
            <li><%= link_to "編集", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
            <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>